@import '../../../assets/scss/variables';

.center{
    padding: 2rem;
    height: 90%;
}

.content{
    height: 85%;
    padding-top: 1rem;
    .list-files{
        height: 100%;
        width: 100%;
        overflow: auto;
        list-style: none;
        padding: 0;
        .item{
            margin: 0 0 1rem 0;
            padding: 0.5rem;
            background-color: $white;
            .col-3:first-child{
                width: 8%;
                margin: 0;
                .logo{
                    font-size: 3rem;
                }
            }
            .col-6{
                width: 77%;
                margin: 0;
                .name{
                    padding: 0;
                }
                .description{
                    font-size: 0.8rem;
                    color: $text-color;
                    .col-4{
                        border-left: 1px dotted $text-color;
                    }
                    .weight{
                        color: $color-secondary;
                    }
                    .down{
                        color: $danger;
                    }
                }
            }
            .col-3:last-child{
                width: 15%;
                margin: 0;
                font-size: 1.2rem;
            }
        }
    }
}

.img{
    width: 8%;
}
