<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <div class="row flex-column align-items-center">
            <h5 class="text-center">Drag and drop your file here <i class="bi bi-upload"></i></h5>
            <button type="button" (click)="openFileSelector()" class="btn btn--tertiary">Browse Files</button>
          </div>
        </ng-template>
    </ngx-file-drop>
    <div class="col-12 content">
        <ul class="list-files">
            <li class="row justify-content-between align-items-center item" *ngFor="let item of uploadFiles">
                <div class="col-3">
                    <i class="bi bi-file-earmark-text logo"></i>
                </div>
                <div class="col-6 row">
                    <h5 class="col-12 name">{{ item.name }}</h5>
                    <div class="col-12 row description">
                        <p class="col-4 type">{{ item.type }}</p>
                        <p class="col-4 weight">{{ Math.round(item.size/1024 )}} Ko</p>
                    </div>
                </div>
                <div class="col-3 row">
                    <a class="col" href=""><i class="bi bi-upload"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>
