@import '../../assets/scss/variables';

header{
    margin: 0;
    padding: 0rem;
    background-color: $white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    .logo-text{
        width: fit-content;
        padding: 0.5rem;
        margin: 0;
        text-transform: uppercase;
        background: linear-gradient(119deg, $color-primary 35%, $color-tertiary 85%);
        color: $light-gray;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        font-size: 1.2vw;
    }
    nav{
        margin: 0;
        .navbar-nav{
            margin: 0;
            list-style: none;
            font-size: 1rem;
            .nav-item{
                margin: 0 1rem;
                .nav-link{
                    padding: 1rem;
                    position: relative;
                    &::before{
                        content: '';
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        border-bottom: 2px solid $color-tertiary;
                        top: 0;
                        bottom: 0;
                        right: 100%;
                        left: 0;
                        transition: 0.7s;
                    }
                    &:hover{
                        &::before{
                            width: 100%;
                            right: 0%;
                        }
                    }
                    &.active{
                        &::before{
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            border-bottom: 2px solid $color-tertiary;
                            top: 0;
                            bottom: 0;
                            right: 0%;
                            left: 0;
                            transition: 0.7s;
                            @media (max-width: 1150px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}