<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/">
            <h5 class="logo-text">Take And Put Your own</h5>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="/home" class="nav-link {{menuActive[0]}}" (click)="onSetActive(0)">Home</a>
              </li>
              <li class="nav-item">
                <a routerLink="/upload" class="nav-link {{menuActive[1]}}" (click)="onSetActive(1)">Upload</a>
              </li>
              <li class="nav-item">
                <a routerLink="/about" class="nav-link {{menuActive[2]}}" (click)="onSetActive(2)">About</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
</header>
