<div>


    <div class="row center">
        <div class="col">
            <div class="photo re">
                <img src="assets/img/download (3).jpg">
            </div>
            <h3>Stephanie Siewe</h3>
        </div>
    
        <div class="col">
            <div class="photo re">
                <img src="assets/img/download (4).jpg">
            </div>
            <h3>Estrella Nounamo</h3>
        </div>
    
        <div class="col">
            <div class="photo">
                <img src="assets/img/Relax Panda IPhone Wallpaper - IPhone Wallpapers.jpg">
            </div>
            <h3>Serge Epale</h3>
        </div>
    
        
        
    </div>
    
    <P>
        this is an unofficial app developped by an independents developpers for a course of CICD
      </P>

</div>



