div:first-of-type{
     
}
.row{
    margin-top: 3vh;
    justify-content: center;
}

.col{
    text-align: center;
    // margin-top: 2vh;
}

.col h3{
    margin-top: 1vh;
    font-style: italic;
}


.photo img{
    margin-top: 1vh;
    object-fit: cover;
    
    width: 25vh;
    border-radius: 50%;
    // float:left;
    // margin-left:6vw;
    // margin-top:0.5vh ;
    margin-bottom: 0.5vh;
    height: 25vh;
}

.re img{
    object-position: 0 10% ;
}

p{
    text-align: center;
    margin-left:2vh;
    margin-right:2vh;
    font-size: 2rem;
    margin-top:5vw;
    text-transform: capitalize;
    font-weight: 700;
}


// div:first-of-type{
//     display: grid;
//     grid-template-columns: auto auto auto;
//     column-gap: 2vh;
//     row-gap: 2vh;
// }