<div class="row download">
    <div class="col-12 header">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon">
            <a class="col-2 btn btn--tertiary" routerLink="/download" id="button-addon"><i class="bi bi-search"></i></a>
        </div>
    </div>
    <span *ngIf="isNotDone; else listFile">
        <h3 class="loading text-center">Loading file...</h3>
    </span>
    <ng-template #listFile>
        <div class="col-12 content">
            <ul class="list-files">
                <li class="row justify-content-between align-items-center item" *ngFor="let file of filesTap">
                    <div class="col-3">
                        <i class="bi bi-file-earmark-text logo"></i>
                    </div>
                    <div class="col-6 row">
                        <h5 class="col-12 name">{{file.name}}</h5>
                        <div class="col-12 row description">
                            <p class="col-4 type">{{file.type}}</p>
                            <span *ngIf="file.size <= 1024; then octet"></span>
                            <span *ngIf="file.size > 1024 && file.size < 1048576; then Koctet"></span>
                            <span *ngIf="file.size > 1048576; then Moctet"></span>
                            <ng-template #octet>
                                <p class="col-4 weight">{{ file.size}} o</p>
                            </ng-template>
                            <ng-template #Koctet>
                                <p class="col-4 weight">{{ Math.round(file.size/1024 )}} Ko</p>
                            </ng-template>
                            <ng-template #Moctet>
                                <p class="col-4 weight">{{ Math.round(file.size/1048576 )}} Mo</p>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-3 row">
                        <a class="col"><i class="bi bi-download" (click)="onDownload(file.url.slice(28))"></i></a>
                        <a class="col"><i class="bi bi-share-fill"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </ng-template>
</div>