@import '../assets/scss/variables';

.app-root{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/img/4395458.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    .box{
        width: 70%;
        height: 90%;
        padding: 0;
        background-color: $light-gray;
        border-radius: 1rem;
    }
}