@import 'assets/scss/variables';

a{
    text-decoration: none;
    color: $text-color;
    &:hover{
        color: $color-tertiary;
    }
}

.btn{
    &--tertiary{
        background-color: $color-tertiary;
        color: $white;
        &:hover{
            background-color: darken($color: $color-tertiary, $amount: 10%);
            color: $white;
            border-color: darken($color: $color-tertiary, $amount: 10%);
        }
    }
    &--outline{
        &-primary{
            border: 1px solid $color-primary;
            color: $color-primary;
            &:hover{
                background-color: $color-primary;
                color: $white;
            }
        }
        &-secondary{
            border: 1px solid $color-secondary;
            color: $color-secondary;
            &:hover{
                background-color: $color-secondary;
                color: $white;
            }
        }
        &-tertiary{
            border: 1px solid $color-tertiary;
            color: $color-tertiary;
            &:hover{
                background-color: $color-tertiary;
                color: $white;
            }
        }
    }
}