<div class="row flex-direction-column justify-content-center align-items-center home">
    <div class="col-12">
        <div class="col-12 row justify-content-center header">
            <h2 class="col-12 title">Take and Put your Own</h2>
            <p class="col-12 description" id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iste architecto facere dignissimos provident perspiciatis quaerat, similique, inventore esse atque tenetur odit magni eaque eligendi ad quo, nostrum doloribus laudantium?</p>
        </div>
        <div class="col-12 row justify-content-center content">
            <form action="/download" method="get" class="col-12">
                <div class="input-group mb-3">
                    <input type="text" id="search" class="form-control" placeholder="Search a file to download" aria-label="Search" aria-describedby="button-addon">
                    <a class="col-2 btn btn--tertiary" routerLink="/download" id="button-addon"><i class="bi bi-search"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>
