@import '../../assets/scss/variables';

.home{
    width: 100%;
    height: 80%;
    padding: 1rem;
    margin: 0;
    overflow: auto;
    .header{
        margin: 0;
        color: $text-color;
        .title{
            text-align: center;
            text-transform: capitalize;
        }
        .description{
            text-align: center;
            margin: 0.5rem 0;
        }
    }
    .content{
        margin: 1rem 0;
        padding: 1rem;
    }
}